*{
    padding:0;
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    position: fixed;
    display:flex;
    width:100%;
    padding:20px 100px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.navigation a{
   
    color:white;
    padding:0px;
    margin-right:11rem;
    transition: 0.1s;
    cursor: pointer;
}
.navigation a:hover{
    color:#22e4e4;
}
.slogan
{
    display: flex;
    align-items: center;
    
}
main{
    background-color: #e4e3cf;
}
.slogan h4{
    color: #03080897;
    
    margin-top: 60px;
    font-size: 50px;
    margin-left:50px;

}

.cardparent{
    display:flex;
    justify-content: center;
    background-color:#e4e3cf;
    height:110vh;
    align-items: center;
    
    
}
.image{
  width: 100%;
  height:100%;

}
.image img{
    
    height:550px;
    object-fit: fit;
    border-top-left-radius:14px;
    border-bottom-left-radius:14px;
    
   
}
.card{
    
   
    margin-top: 30px;
    display:flex;
    border-radius:14px;
    background-color: rgb(255, 255, 255);
    width:700px;
    height:550px;
    margin-left:200px;
    
    
}
.left-side{
margin-left:20px;
width: 70%;

    
}

.left-side h3{
    color:rgba(5, 6, 6, 0.281);
    font-weight: 300;
    margin-top: 29px;
    padding-left: 8px;
    text-transform: uppercase;
    margin-bottom: 9px;

}
.left-side h2{
    font-size: 40px;
    color:#000000;
    padding: 10px 4px;
}
.left-side p{
    color:rgba(5, 6, 6, 0.281);
    font-size: 20px;
    margin-top: 8px;

}
.class{
    margin-top:20px ;
    display: flex;
   
    
}
.class .two{
    font-size:34px;
    color:rgb(41, 144, 99);
    margin-bottom:10px;
    margin-top: 10px;

    
}
.class .one{
    margin-left:20px;
    margin-top: 15px;
    text-decoration: line-through;
    

}
.button button{
    width: 220px;
    height: 40px;
    font-size: 15px;
    color:whitesmoke;
    background-color: rgb(41, 144, 99);
    border-radius: 10px;
    text-align: center;
    border: none;
    margin-top:15px;
   

}
section  h2{
    text-align: center;
    font-size:40px;
    text-transform: uppercase;
    margin-top:20px
}
.aboutus p{
    text-align: center;
    font-size:30px;
    margin-top: 30px;
    text-wrap: wrap;
    margin: 70px;
    padding:10px;
}

section h3{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.imageparent{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.imagechild {
    flex: 1;
    margin: 0 10px;
    max-width:300px;
    height:300px;
}

.imagechild img{
     width:100%;
     height:100%;
     object-fit:cover;
    border-radius: 10px;
    margin:30px;
    padding:10px;
    transition: 0.1s;
}
.imagechild img:hover{
    margin-top: -10px;
}
.productparent{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
   
    
    
}
.productparent .card{
    
   
    margin-top: 30px;
    display:flex;
    border-radius:14px;
    background-color: rgb(255, 255, 255);
    width:400px;
    height:300px;
    margin-left:60px;
    
    
}

  
.productparent .card .image img{
    
    width: 205px;
    height:300px;
    object-fit: fit;
    border-top-left-radius:14px;
    border-bottom-left-radius:14px;
    
}
.productparent .left-side{
    margin-left:20px;
    width: 70%;
   
    
        
    }
    
    .productparent .left-side h3{
        color:rgba(5, 6, 6, 0.281);
        font-weight: 300;
        margin-top: 17px;
        font-size:18px ;
        padding-left: 8px;
        text-transform: uppercase;
    
        margin-right:190px;
    
    }
    .productparent .left-side h2{
        font-size: 15px;
        color:#000000;
        
        
        margin-right:160px;
       margin-top:1px;
    }
    .productparent .left-side p{
        color:rgba(5, 6, 6, 0.281);
        font-size: 10px;
        margin-top: 8px;
        margin-right:100px;
    
    }
    .productparent .class{
        margin-top:8px ;
        display: flex;
       
        
    }
    .productparent .class .two{
        font-size:22px;
        color:rgb(41, 144, 99);
        margin-bottom:10px;
        margin-top: 10px;
    
        
    }
    .productparent .class .one{
        margin-left:17px;
        margin-top: 15px;
        text-decoration: line-through;
        
    
    }
    .productparent  .button button{
        width: 170px;
        height: 30px;
        font-size: 11px;
        color:whitesmoke;
        background-color: rgb(41, 144, 99);
        border-radius: 10px;
        text-align: center;
        border: none;
         
         margin-top:10px;
         
         
         align-items: center;
    } 
    .productparent .button button:hover{
        background-color: aqua;
    }
.pr h2{
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom:10px;
    }
    .contact-us{
        margin-top:100px;
        background-color: #000000;
        height:40vh;

    }
    .parentcontactus{
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        margin-top:20px ;
        color: white;
        
        
    }
    .follow h3{
        margin:9px;
        margin-top:0px;
    }
    .icons i{
        padding:5px;
    }

    .contact-us h2{
        color:white;
        text-align: center;
        margin-top: 90px;
    }
    #contact-us h3{
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      margin-top:60px;
    }
        
       
    
